.App {
    background-color: #58bb7e;
    text-align: left;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
.App-header {
  background-color: #58bb7e;
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
} */



/* 
.col1{
  text-align: left;
} */
