.App {
  background: rgba(245, 245, 245, 0.75);  
  box-shadow: 10px 20px 4px rgba(34, 82, 50, 0.25);
  border-radius: 64px;
  text-align: left;
  padding:2%;
  margin: 2%; 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#logo{
  text-align: center;
}

.hole {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 4%;
  top: 6%;
  background: #99F597;
  border-radius: 40px;
  box-shadow: inset 10px 20px 4px rgb(0 0 0 / 25%);
  display: flex;
}