ul{
    background: linear-gradient(180deg, rgba(182, 182, 182, 0.8) 0%, rgba(196, 196, 196, 0.8) 50%, rgba(222, 245, 222, 0.8) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
}
#navul{
    list-style-image: url('./dot.png');
}

li {
    background-color: #c4c4c441;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 10px;
    padding: 4% ;
    height: 57px;
}

.nav-link {
    display: inline;
    color: #8D8D8D;
}


.size{

    width: 35px;
    height:  35px;
    left: 96px;
    top: 106px;
}

